Repository internet-identity-labs/nfid, changes with the owners that .github/CODEOWNERS names for each.
All owners: @olekid, @dostro, @dmitriiIdentityLabs, @olsemeno, @chorniy8pavlo, @DaniilIdentity

Signer Implement global error handling [sc-13127]
  examples/react-signer/src/hook/use-signer.ts
  examples/react-signer/src/service/call-canister.service.ts
  examples/react-signer/src/service/consent-message.service.ts
  examples/react-signer/src/service/exception-handler.service.ts
  examples/react-signer/src/service/interface-factory.service.ts
  examples/react-signer/src/service/method/interactive/icrc27-get-accounts-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc34-get-delegation-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc49-call-canister-method.service.ts
  examples/react-signer/src/service/method/interactive/interactive-method.service.ts
  examples/react-signer/src/service/target.service.ts
  examples/react-signer/src/service/utils.service.ts
  package-lock.json
Owners: @olekid

Signer Implement global error handling [sc-13127]
  examples/react-signer/src/service/call-canister.service.ts
Owners: @olekid

Signer Implement global error handling [sc-13127] (#210)
  examples/react-signer/src/hook/use-signer.ts
  examples/react-signer/src/service/call-canister.service.ts
  examples/react-signer/src/service/consent-message.service.ts
  examples/react-signer/src/service/exception-handler.service.ts
  examples/react-signer/src/service/interface-factory.service.ts
  examples/react-signer/src/service/method/interactive/icrc27-get-accounts-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc34-get-delegation-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc49-call-canister-method.service.ts
  examples/react-signer/src/service/method/interactive/interactive-method.service.ts
  examples/react-signer/src/service/target.service.ts
  examples/react-signer/src/service/utils.service.ts
  package-lock.json
Owners: @olekid

signer Switch to default state after predefined [sc-13176]
  examples/react-signer/src/component/call-canister.component.tsx
  examples/react-signer/src/component/get-accounts.component.tsx
  examples/react-signer/src/component/get-delegation.component.tsx
  examples/react-signer/src/component/interactive-panel.component.tsx
  examples/react-signer/src/component/method/icrc25-request-permissions-method.component.tsx
  examples/react-signer/src/component/method/icrc25-revoke-permissions-method.component.tsx
  examples/react-signer/src/component/method/icrc27-get-accounts-method.component.tsx
  examples/react-signer/src/component/method/icrc34-get-delegation-method.component.tsx
  examples/react-signer/src/component/method/icrc49-call-canister-method.component.tsx
  examples/react-signer/src/component/method/method.component.ts
  examples/react-signer/src/component/request-permissions.component.tsx
  examples/react-signer/src/hook/use-signer.ts
Owners: @olekid

signer Switch to default state after predefined [sc-13176] (#211)
  examples/react-signer/src/component/call-canister.component.tsx
  examples/react-signer/src/component/get-accounts.component.tsx
  examples/react-signer/src/component/get-delegation.component.tsx
  examples/react-signer/src/component/interactive-panel.component.tsx
  examples/react-signer/src/component/method/icrc25-request-permissions-method.component.tsx
  examples/react-signer/src/component/method/icrc25-revoke-permissions-method.component.tsx
  examples/react-signer/src/component/method/icrc27-get-accounts-method.component.tsx
  examples/react-signer/src/component/method/icrc34-get-delegation-method.component.tsx
  examples/react-signer/src/component/method/icrc49-call-canister-method.component.tsx
  examples/react-signer/src/component/method/method.component.ts
  examples/react-signer/src/component/request-permissions.component.tsx
  examples/react-signer/src/hook/use-signer.ts
Owners: @olekid

feat([sc-13340]): update consent canister with updated icrc21 [sc-13340]
  examples/react-signer/src/idl/consent.ts
  examples/react-signer/src/idl/consent_idl.ts
  examples/react-signer/src/service/consent-message.service.ts
  examples/signer-backend/signer-backend.did
  examples/signer-backend/src/lib.rs
  examples/signer-backend/src/types.rs
Owners: @olekid

feat([sc-13340]): update consent canister with updated icrc21 [sc-13340] (#212)
  examples/react-signer/src/idl/consent.ts
  examples/react-signer/src/idl/consent_idl.ts
  examples/react-signer/src/service/consent-message.service.ts
  examples/signer-backend/signer-backend.did
  examples/signer-backend/src/lib.rs
  examples/signer-backend/src/types.rs
Owners: @olekid

Signer Fix and add signer integration test [sc-13410]
  .github/workflows/ci.yml
  examples/react-signer/src/service/call-canister.service.spec.ts
Owners: @olekid

Signer Fix and add signer integration test [sc-13410]
  .github/workflows/ci.yml
Owners: @olekid

Signer Fix and add signer integration test [sc-13410]
  .github/workflows/ci.yml
Owners: @olekid

Signer Fix and add signer integration test [sc-13410]
  .github/workflows/ci.yml
Owners: @olekid

Signer Fix and add signer integration test [sc-13410]
  .github/workflows/ci.yml
Owners: @olekid

Feature/sc 13410 signer fix and add signer integration test (#214)
  .github/workflows/ci.yml
  examples/react-signer/src/service/call-canister.service.spec.ts
Owners: @olekid

feat([13214]): integrated sea snake signer
  .github/workflows/ci.yml
  examples/react-dapp/src/App.tsx
  examples/react-dapp/src/data/icrc25_permissions.tsx
  examples/react-dapp/src/data/icrc25_request_permissions.tsx
  examples/react-dapp/src/data/icrc25_revoke_permissions.tsx
  examples/react-dapp/src/data/icrc25_supported_standards.tsx
  examples/react-dapp/src/data/icrc27_accounts.tsx
  examples/react-dapp/src/data/icrc29_status.tsx
  examples/react-dapp/src/data/icrc34_delegation.tsx
  examples/react-dapp/src/data/icrc49_call_canister.tsx
  examples/react-dapp/src/data/index.ts
  examples/react-dapp/src/ui/molecules/header.tsx
  examples/react-dapp/src/ui/organisms/section.tsx
  examples/react-signer/src/component/method/icrc27-accounts-method.component.tsx
  examples/react-signer/src/component/method/icrc34-delegation-method.component.tsx
  examples/react-signer/src/component/method/method.component.ts
  examples/react-signer/src/hook/use-signer.ts
  examples/react-signer/src/service/account.service.ts
  examples/react-signer/src/service/method/interactive/icrc25-request-permissions-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc25-revoke-permissions-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc27-accounts-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc34-delegation-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc49-call-canister-method.service.ts
  examples/react-signer/src/service/method/method.servcie.ts
  examples/react-signer/src/service/method/silent/icrc25-permissions-method.service.ts
  examples/react-signer/src/service/method/silent/icrc25-supported-standards-method.service.ts
  examples/react-signer/src/service/method/silent/icrc29-get-status-method.service.ts
  package-lock.json
  packages/identitykit/package.json
  packages/identitykit/src/libs/react/connect-wallet-button.tsx
  packages/identitykit/src/libs/react/context.ts
  packages/identitykit/src/libs/react/index.ts
  packages/identitykit/src/libs/react/modal.tsx
  packages/identitykit/src/libs/react/provider.tsx
  packages/identitykit/src/libs/react/types.ts
  packages/identitykit/src/standards/icrc-25/index.ts
  packages/identitykit/src/transports/rpc.ts
Owners: @olekid, @dmitriiIdentityLabs, @chorniy8pavlo

feat([13214]): fixed signer window opener origin
  examples/react-signer/src/hook/use-signer.ts
  examples/react-signer/src/service/method/interactive/icrc25-request-permissions-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc27-accounts-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc34-delegation-method.service.ts
  examples/react-signer/src/service/method/silent/icrc25-permissions-method.service.ts
  examples/react-signer/src/service/method/silent/icrc25-supported-standards-method.service.ts
  examples/react-signer/src/service/method/silent/icrc29-get-status-method.service.ts
  packages/identitykit/src/libs/react/modal.tsx
Owners: @olekid

feat([13214]): skipped e2e
  .github/workflows/ci.yml
Owners: @olekid

feat([13214]): integrated sea snake signer (#213)
  .github/workflows/ci.yml
  examples/react-dapp/src/App.tsx
  examples/react-dapp/src/data/icrc25_permissions.tsx
  examples/react-dapp/src/data/icrc25_request_permissions.tsx
  examples/react-dapp/src/data/icrc25_revoke_permissions.tsx
  examples/react-dapp/src/data/icrc25_supported_standards.tsx
  examples/react-dapp/src/data/icrc27_accounts.tsx
  examples/react-dapp/src/data/icrc29_status.tsx
  examples/react-dapp/src/data/icrc34_delegation.tsx
  examples/react-dapp/src/data/icrc49_call_canister.tsx
  examples/react-dapp/src/data/index.ts
  examples/react-dapp/src/ui/molecules/header.tsx
  examples/react-dapp/src/ui/organisms/section.tsx
  examples/react-signer/src/component/method/icrc27-accounts-method.component.tsx
  examples/react-signer/src/component/method/icrc34-delegation-method.component.tsx
  examples/react-signer/src/component/method/method.component.ts
  examples/react-signer/src/hook/use-signer.ts
  examples/react-signer/src/service/account.service.ts
  examples/react-signer/src/service/method/interactive/icrc25-request-permissions-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc25-revoke-permissions-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc27-accounts-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc34-delegation-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc49-call-canister-method.service.ts
  examples/react-signer/src/service/method/method.servcie.ts
  examples/react-signer/src/service/method/silent/icrc25-permissions-method.service.ts
  examples/react-signer/src/service/method/silent/icrc25-supported-standards-method.service.ts
  examples/react-signer/src/service/method/silent/icrc29-get-status-method.service.ts
  package-lock.json
  packages/identitykit/package.json
  packages/identitykit/src/libs/react/connect-wallet-button.tsx
  packages/identitykit/src/libs/react/context.ts
  packages/identitykit/src/libs/react/index.ts
  packages/identitykit/src/libs/react/modal.tsx
  packages/identitykit/src/libs/react/provider.tsx
  packages/identitykit/src/libs/react/types.ts
  packages/identitykit/src/standards/icrc-25/index.ts
  packages/identitykit/src/transports/rpc.ts
Owners: @olekid, @dmitriiIdentityLabs, @chorniy8pavlo

Signer Return RP delegation without targets [sc-13414]
  examples/react-signer/src/service/account.service.ts
  examples/react-signer/src/service/method/interactive/icrc34-delegation-method.service.ts
Owners: @olekid

Signer Return RP delegation without targets [sc-13414]
  examples/react-signer/src/service/exception-handler.service.ts
  examples/react-signer/src/service/method/interactive/icrc49-call-canister-method.service.ts
  examples/react-signer/src/service/method/interactive/interactive-method.service.ts
Owners: @olekid

Signer Return RP delegation without targets [sc-13414] (#215)
  examples/react-signer/src/service/account.service.ts
  examples/react-signer/src/service/exception-handler.service.ts
  examples/react-signer/src/service/method/interactive/icrc34-delegation-method.service.ts
  examples/react-signer/src/service/method/interactive/icrc49-call-canister-method.service.ts
  examples/react-signer/src/service/method/interactive/interactive-method.service.ts
Owners: @olekid

Signer Return RP delegation if target validation [sc-13413]
  examples/react-signer/src/component/get-delegation.component.tsx
  examples/react-signer/src/service/method/interactive/icrc34-delegation-method.service.ts
Owners: @olekid

Signer Return RP delegation if target validation [sc-13413]
  examples/react-signer/src/service/method/interactive/icrc34-delegation-method.service.ts
Owners: @olekid

Signer Return RP delegation if target validation [sc-13413] (#216)
  examples/react-signer/src/component/get-delegation.component.tsx
  examples/react-signer/src/service/method/interactive/icrc34-delegation-method.service.ts
Owners: @olekid

feat([13215]): call canister via new signer + removed unused code
  examples/react-dapp/src/App.tsx
  examples/react-dapp/src/data/icrc25_permissions.tsx
  examples/react-dapp/src/data/icrc25_request_permissions.tsx
  examples/react-dapp/src/data/icrc25_supported_standards.tsx
  examples/react-dapp/src/ui/organisms/section.tsx
  packages/identitykit/src/index.ts
  packages/identitykit/src/lib/identity-kit-agent.ts
  packages/identitykit/src/lib/identity-kit.ts
  packages/identitykit/src/lib/index.ts
  packages/identitykit/src/lib/types.ts
  packages/identitykit/src/libs/react/context.ts
  packages/identitykit/src/libs/react/provider.tsx
  packages/identitykit/src/libs/react/types.ts
  packages/identitykit/src/signer/index.ts
  packages/identitykit/src/signer/signer.tsx
  packages/identitykit/src/signer/types.ts
  packages/identitykit/src/standards/ version.ts
  packages/identitykit/src/standards/icrc-25/index.ts
  packages/identitykit/src/standards/icrc-31/index.ts
  packages/identitykit/src/standards/icrc-32/index.ts
  packages/identitykit/src/standards/icrc-34/index.ts
  packages/identitykit/src/standards/icrc-49/index.ts
Owners: @olekid

feat([13215]): call canister via new signer + removed unused code (#217)
  examples/react-dapp/src/App.tsx
  examples/react-dapp/src/data/icrc25_permissions.tsx
  examples/react-dapp/src/data/icrc25_request_permissions.tsx
  examples/react-dapp/src/data/icrc25_supported_standards.tsx
  examples/react-dapp/src/ui/organisms/section.tsx
  packages/identitykit/src/index.ts
  packages/identitykit/src/lib/identity-kit-agent.ts
  packages/identitykit/src/lib/identity-kit.ts
  packages/identitykit/src/lib/index.ts
  packages/identitykit/src/lib/types.ts
  packages/identitykit/src/libs/react/context.ts
  packages/identitykit/src/libs/react/provider.tsx
  packages/identitykit/src/libs/react/types.ts
  packages/identitykit/src/signer/index.ts
  packages/identitykit/src/signer/signer.tsx
  packages/identitykit/src/signer/types.ts
  packages/identitykit/src/standards/ version.ts
  packages/identitykit/src/standards/icrc-25/index.ts
  packages/identitykit/src/standards/icrc-31/index.ts
  packages/identitykit/src/standards/icrc-32/index.ts
  packages/identitykit/src/standards/icrc-34/index.ts
  packages/identitykit/src/standards/icrc-49/index.ts
Owners: @olekid

latest
  docs/pages/_meta.json
  docs/pages/advanced/_meta.json
  docs/pages/advanced/get-user-private-key.mdx
  docs/pages/advanced/remove-wallet-prompts.mdx
  docs/pages/configuration/_meta.json
  docs/pages/configuration/custom-wallets-list.mdx
  docs/pages/considerations.mdx
  docs/pages/getting-started/_meta.json
  docs/pages/getting-started/auth-options.mdx
  docs/pages/getting-started/installation.mdx
  docs/pages/guides/_meta.json
  docs/pages/guides/call-canister.mdx
  docs/pages/guides/migrate-domains.mdx
  docs/pages/guides/request-transfer.mdx
  docs/pages/index.mdx
  docs/pages/wallet-interactions/_meta.json
  docs/public/img/all-wallets-light.png
  docs/public/img/compact-mode-light.png
  docs/public/img/featured-mode-light.png
  docs/public/img/logo-dark.png
  docs/public/img/logo-light.png
  docs/theme.config.tsx
Owners: @olekid, @dostro, @dmitriiIdentityLabs

committing latest
  docs/pages/considerations.mdx
  docs/pages/getting-started/auth-options.mdx
  docs/pages/getting-started/installation.mdx
  docs/pages/guides/call-canister.mdx
  docs/pages/index.mdx
Owners: @olekid

Update icrc28_trusted_origins docs
  docs/pages/embed/integration/wallet.mdx
Owners: @olekid

.github/CODEOWNERS:

# This section is owned by the Internet Identity Labs, Inc. team
# Each line is a file pattern followed by one or more owners.

# nfid repository owner
* @olekid

# documentation owners
docs/* @dostro @olekid @dmitriiIdentityLabs

# @nfid/vaults SDK owner
packages/vaults/* @olsemeno @dmitriiIdentityLabs

# @nfid/postmessage-rpc SDK owners
packages/postmessage-rpc/* @olekid @dmitriiIdentityLabs @chorniy8pavlo

# @nfid/identitykit SDK owners
packages/identitykit/* @olekid @dmitriiIdentityLabs @chorniy8pavlo

# identitykit examples owners
examples/* @olekid @dmitriiIdentityLabs @chorniy8pavlo

# pipelines owner
.github/* @DaniilIdentity @dmitriiIdentityLabs
docker-for-e2e/* @DaniilIdentity
